
.blogColumn {
  margin: 1em auto;
  width: 40%;
}

/* For mobile phones */
@media only screen and (max-width:620px) {
  .blogColumn {
    width: 80%;
  }
}

.blogColumn ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blogColumn li {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 3em;
}

.blogColumn li .blogPostTitle {
  margin: 0 auto 2em;
}

.blogColumn li .blogPostTitle .postCategory {
  color: #3B5E24;
}

.blogColumn li h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 0.02em;
  margin: 0;
  color: #333333;
  text-align: center;
}

.blogColumn li h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  margin: 0.4em 0 0;
  color: #B3B3B3;
  text-align: center;
}

.blogColumn li p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3em;
  text-align: left;
  margin: 0 0 2em;
}

.blogColumn .readMoreLink {
  background-color: transparent;
  margin: 0.4em auto 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  cursor: pointer;
  color: #B3B3B3;
  display: block;
  border: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.blogColumn .readMoreLink:hover {
  color: #3B5E24;
}
