@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding-left: calc(100vw - 100%);
}

.header {
  text-align: center;
  margin: 5em auto 3em;
}

.header h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 4em;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  color: #3B5E24;
  padding: 0;
  margin: 0;
}

.header h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #333333;
  padding: 0;
  margin: 0;
}

.navbar {
  text-align: center;
  margin: 5em auto 0px auto;
}

.navbar a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  color: #B3B3B3;
  padding: 0;
  margin: 0px 38px;
  text-decoration: none;
  text-transform: uppercase;
}

/* For mobile phones */
@media only screen and (max-width:620px) {
  .navbar a {
    display: block;
  }
}

.navbar > .activeLink {
  color: #3B5E24;
}

.navbar a:hover {
  color: #3B5E24;
}
